<section id="about">
    <h2 class="about-heading">About</h2>
    <div class="row">
        <div class="col-6 about-description">
            <p >Hi There! I am <span class="strong">Vamsi, Java Full Stack Developer</span>  for more than 5 years. I completed my masters in Engineering and working as a Java Full Stack Developer at VF Corp as a Contractor.</p>
            <p class="strong">Certified AWS Soultions Architect - Associate</p>
            <p>
                I have a strong passion for continuous learning and enjoy sharing the knowledge I gain with those around me.
            </p>
            <p>
                I recently launched a YouTube channel called 
                <a class="channel" href="https://www.youtube.com/@Vidyaalgo" target="_blank">VidyaAlgo</a>, 
                where I share my knowledge on Data Structures and Algorithms (DSA), LeetCode problems, and Java concepts—all in my local language. My goal is to make tech education accessible to those who struggle with English and empower them to learn and grow in the field of technology.
             </p>
            <hr style="height: 2px; background-color: #00eefe;">
            <div>
                <h3>Technologies</h3>
                <div class="row mt-3">
                    <div class="col-6 tech-stack">
                        <ul style="list-style: none;">
                            <li class="mt-2">  <i class="bi bi-star-fill me-2" style="color: #00eefe;"></i>Java</li>
                           <li class="mt-2">   <i class="bi bi-star-fill me-2" style="color: #00eefe;"></i>Spring Boot</li>
                            <li class="mt-2">  <i class="bi bi-star-fill me-2" style="color: #00eefe;"></i>Micro Services</li>
                            <li class="mt-2">  <i class="bi bi-star-fill me-2"  style="color: #00eefe;"></i>Angular</li>
                            <li class="mt-2">  <i class="bi bi-star-fill me-2" style="color: #00eefe;"></i>Hibernate</li>
                            <li class="mt-2">  <i class="bi bi-star-fill me-2" style="color: #00eefe;"></i>MongoDB</li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul style="list-style: none;">
                            <li class="mt-2">  <i class="bi bi-star-fill me-2" style="color: #00eefe;"></i>AWS/Azure/GCP</li>
                            <li class="mt-2">  <i class="bi bi-star-fill me-2" style="color: #00eefe;"></i>Terraform</li>
                            <li class="mt-2">  <i class="bi bi-star-fill me-2" style="color: #00eefe;"></i>Apache Kafka</li>
                            <li class="mt-2">  <i class="bi bi-star-fill me-2" style="color: #00eefe;"></i>CI/CD</li>
                            <li class="mt-2">  <i class="bi bi-star-fill me-2" style="color: #00eefe;"></i>Docker</li>
                            <li class="mt-2">  <i class="bi bi-star-fill me-2" style="color: #00eefe;"></i>Kubernetes</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="d-flex justify-content-center">
                <img height="625px" width="550px" src="assets/images/pic.JPG" alt="mypic">
            </div> 
        </div>

    </div>
   
 </section>