<h1 class="d-flex justify-content-center name" style="font-size: 5rem; ">
    Vamsi Krishna Reddy
</h1>
<h2 class="d-flex justify-content-center mt-4 title">
    Java Full Stack  <span class="dev ms-4" >Developer</span>
</h2>
<div class="description mt-4 d-flex justify-content-center align-items-center text-center">
    <p class="shrinking-text">
        Highly skilled <span class="strong">Java Full Stack developer</span>  with <span class="strong">AWS Certified Solutions Architect-Associate.</span>  Proficienct in Spring/Spring Boot, Hibernate, Microservices, Angular, AWS, Docker, Kubernetes etc.,
    </p>
</div>
<div class="d-flex justify-content-center align-items-center">
     <button class="btn ">
      <a href="assets/resume1.pdf" target="_blank" style="text-decoration: none; color: white;">Download Resume</a> <i class="bi bi-download downloadicon"></i>
        </button>
</div>
