<section id="projects">
    <h2 class="projects-heading">Projects</h2>
   <div class="row">
        <div class="col-6 mt-4">
            <h3 class="project-title">JRFoods <a href="https://github.com/vkr1162/JRFoodsBackEnd" target="_blank"><i class="bi bi-folder-symlink-fill"></i></a> </h3>
            <h3 class="project-desc">Full Stack E-Commerce Web Application</h3>
            <p class="mt-2" style="width: 600px; opacity: 0.6;">JRFoods is a Web Application where users can able to create account, login, place order for different addresses and users can also add items to the cart and place orders from their cart items. Users can also retrieve order history and it's status </p>
        </div>
        <div class="col-6">
            <div class="mt-4">
                <h4 class="tech-heading" style="margin-top: 40px;">Tech Stack</h4>
            </div>
            <div class="row">
                <div class="col-6 tech-stack">
                    <ul style="list-style: none;">
                        <li class="mt-2">  <i class="bi bi-star-fill me-2" style="color: #00eefe;"></i>Java</li>
                       <li class="mt-2">   <i class="bi bi-star-fill me-2" style="color: #00eefe;"></i>Spring Boot</li>
                        <li class="mt-2">  <i class="bi bi-star-fill me-2"  style="color: #00eefe;"></i>Spring Security</li>
                        <li class="mt-2">  <i class="bi bi-star-fill me-2" style="color: #00eefe;"></i>Data JPA</li>
                        <li class="mt-2">  <i class="bi bi-star-fill me-2" style="color: #00eefe;"></i>MySQL</li>
                    </ul>
                </div>
                <div class="col-6 tech-stack">
                    <ul style="list-style: none;">
                        <li class="mt-2">  <i class="bi bi-star-fill me-2" style="color: #00eefe;"></i>Angular</li>
                       <li class="mt-2">   <i class="bi bi-star-fill me-2" style="color: #00eefe;"></i>HTML/CSS</li>
                        <li class="mt-2">  <i class="bi bi-star-fill me-2" style="color: #00eefe;"></i>Angular Material / Tailwind CSS</li>
                        <li class="mt-2">  <i class="bi bi-star-fill me-2"  style="color: #00eefe;"></i>JWT</li>
                        <li class="mt-2">  <i class="bi bi-star-fill me-2" style="color: #00eefe;"></i>Swagger /  Postman</li>
                    </ul>
                </div>
            </div>

        </div>
   </div>
   <div class="row">
    <div class="col-6 mt-4">
        <h3 class="project-title">TIC TAC TOE <a href="https://github.com/vkr1162/TIC-TAC-TOE-Game" target="_blank"><i class="bi bi-folder-symlink-fill"></i></a></h3>
        <h3 class="project-desc">Basic Tic-Tac-Toe Game</h3>
        <p class="mt-2" style="width: 600px; opacity: 0.6;">Basic Tic Tac Toe Game for fun </p>
    </div>
    <div class="col-6">
        <div class="mt-4">
            <h4 class="tech-heading" style="margin-top: 40px;">Tech Stack</h4>
        </div>
        <div class="row">
            <div class="col-6 tech-stack">
                <ul style="list-style: none;">
                    <li class="mt-2">  <i class="bi bi-star-fill me-2" style="color: #00eefe;"></i>HTML</li>
                   <li class="mt-2">   <i class="bi bi-star-fill me-2" style="color: #00eefe;"></i>CSS</li>
                    <li class="mt-2">  <i class="bi bi-star-fill me-2"  style="color: #00eefe;"></i>JavaScript</li>
                </ul>
            </div>
           
        </div>

    </div>
</div>
 </section>