<section id="work">
    <h2 class="work-heading">Work</h2>
    <div class="mt-4 experience row" style="margin-left: 100px;">
        <h3 class="col-4" ><i class="bi bi-arrow-bar-right"></i> <span class="client"> VF Corp</span> | <span class="employer">  Ergon I Tech</span></h3>
        <h3 class="col-4 desc">Java Full Stack Developer</h3>
        <h3 class="col-4 desc">Nov 2023 - Present</h3>
        <br>
        <br>
        <h3 class="col-4" ><i class="bi bi-arrow-bar-right"></i> <span class="client"> Morgan Stanley</span> | <span class="employer">  TCS</span></h3>
        <h3 class="col-4 desc">Java Full Stack Developer</h3>
        <h3 class="col-4 desc">Jan 2020 - Feb 2022</h3>
        <br><br>
        <h3 class="col-4" ><i class="bi bi-arrow-bar-right"></i><span class="client"> PNC</span> | <span class="employer">  TCS</span></h3>
        <h3 class="col-4 desc">Java Developer</h3>
        <h3 class="col-4 desc">April 2018 - Dec 2019</h3>
    </div>
   
 </section>